<html lang="en">
{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <section class="textos">
        <h2><p>Comment and Avaluation</p></h2>
         <form method="post" action="mailto:ricostalopes@gmail.com">
        <fieldset>
            <legend>Introduza aqui a sua opnião</legend>
            <p>Clareza do site:</p>
            <p>
                <input type="radio" name="opinion1" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion1" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion1" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion1" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion1" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Rigor do site:</p>
            <p>
                <input type="radio" name="opinion2" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion2" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion2" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion2" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion2" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Precisão do site:</p>
            <p>
                <input type="radio" name="opinion3" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion3" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion3" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion3" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion3" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Profundidade da Informação:</p>
            <p>
                <input type="radio" name="opinion3" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion3" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion3" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion3" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion3" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Amplitude da Informação:</p>
            <p>
                <input type="radio" name="opinion3" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion3" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion3" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion3" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion3" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Logica do site:</p>
            <p>
                <input type="radio" name="opinion4" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion4" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio" name="opinion4" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion4" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion4" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Signficância da Informação posta:</p>
            <p>
                <input type="radio" name="opinion5" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion5" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio"name="opinion5" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion5" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion5" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Originalidade do site:</p>
            <p>
                <input type="radio" name="opinion6" value="3">
                <label for="Muito bom">Muito bom</label><br>
                <input type="radio" name="opinion6" value="2">
                <label for="Bom">Bom</label><br>
                <input type="radio"name="opinion6" value="1">
                <label for="Razoavel">Razoavel</label><br>
                <input type="radio" name="opinion6" value="0">
                <label for="Mau">Mau</label><br>
                <input type="radio" name="opinion6" value="-1">
                <label for="Péssimo">Péssimo</label><br>
            </p>
            <p>Por favor introduza aqui as sugestões que quizer.</p>
            <p>
                <textarea name="Sugestão" rows="10" style="width: 300px; height: 200px; resize: none;"></textarea>
            </p>
            <input type="hidden" name="lab3" value="3">
        </fieldset>
        <input type="submit" value= "Enviar Comentário">
    </form>
    </section>
{% endblock %}
</html>