<html lang="en">
{% extends 'website/base.html' %}
{% load static %}
{% block content %}
 <section class="textos">
    <center><h2><p>Contact</p></h2></center>
        {% for contacto in contactos %}
            <p>{{ contacto.name }}</p>
            <section style="border-style: solid ; border: white">{{ contacto.mensagem }}</section><br>
            <a href="{% url 'editarco' contacto.id %}" class="btn btn-success" style="float: right;margin-rigth: 10px">Edit</a>
            <br><br>
        {% endfor %}
     <a href="{% url 'novocontacto' %}" class="btn-success"> New Contact</a>
    </section>
{% endblock %}
</html>