<html lang="en">
{% extends 'website/base.html' %}
{% block content %}
    {% load static %}
    <section class="textos">
        <figure class="swim">
            <img src="{% static 'website/images/viking_ship-removebg-preview.png'%}" alt = "My image">
        </figure>
        <script>
            document.addEventListener('DOMContentLoaded', function (){
               document.querySelector('button').forEach(button => {
                   button.onclick = showPage(this.dataset.page);
               });
            });
            function  showPage(page){

            }
        </script>
    <center><iframe id="video" width="auto" height="200" src="https://www.youtube.com/embed/ExvEIOWB-H0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <center><svg id="frame"width = 500 height ="300">
        <g transform="translate(100,100)">
            <text id="TextElement" x="-40" y="-20"  transform = rotate(30,120,400)><a href="https://www.history.com/topics/exploration/vikings-history">Raids</a>
              </text>
              <text id="TextElement" x="-30" y="-40"  transform = rotate(130,100,40)><a href="https://www.lifeinnorway.net/viking-religion/">Religion</a>
              </text>
              <text id="TextElement" x="-30" y="-20"  transform = rotate(-50,300,-260)><a href="https://www.worldhistory.org/Viking_Warfare/">Warfare</a>
              </text>
              <text id="TextElement" x="-60" y="-30" transform = rotate(90,50,80)><a>Medieval</a>
              </text>
              <text id="TextElement" x="200" y="-30"  transform = rotate(50,0,-140)><a href="https://avaldsnes.info/en/viking/vikingskip/">Ships</a>
              </text>
              <text id="TextElement" x="45" y="-30"  transform = rotate(90,50,80)><a href="http://en.natmus.dk/historical-knowledge/denmark/prehistoric-period-until-1050-ad/the-viking-age/weapons/#:~:text=In%20the%20Viking%20Age%20a,depended%20on%20their%20economic%20capacity.">Weapons</a>
              </text>
              <text id="TextElement" x="90" y="150"  transform = rotate(0,60,40)><a>Kings</a>
              </text>
              <text id="TextElement" x="200" y="150"  transform = rotate(0,50,80)><a href="https://englishhistory.net/vikings/viking-gods/">Gods</a>
              </text>
              <text id="TextElement" x="85" y="90"  transform = rotate(0,60,40)><a>Queens</a>
              </text>
              <text id="TextElement" x="200" y="90"  transform = rotate(0,60,40)><a>Armie</a>
              </text>
        </g>
    </svg></center>
    <figure class="swim">
            <img src="{% static 'website/images/viking_ship-removebg-preview.png'%}" alt = "My image">
    </figure>
</section>
{% endblock %}
</html>