<html lang="en">
{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <section class="textos">
        <h2><p>Login</p></h2>
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"><br>
            <input type="text" name="password" placeholder="password"><br>
            <fieldset class="filed">
            <input type="submit" value= "Login">
            </fieldset>
        </form>
    </section>
{% endblock %}
</html>