<html lang="en">
{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <section class="textos">
    <h2><p>Quizz</p></h2>
        <form method="post" action="mailto:ricostalopes@gmail.com">
            <fieldset>
                <label>1)Who is the main Charater in The Vikings?
                <p>
                    <input type="radio" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Ragnar Lothbrok</label><br>
                    <input type="radio" name="opinion7" value="Bom">
                    <label for="Bom">Good</label><br>
                    <input type="radio" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Igrid</label><br>
                    <input type="radio" name="opinion9" value="Mau">
                    <label for="Mau">Bjorn</label><br>
                    <input type="radio" name="opinion10" value="Péssimo">
                    <label for="Péssimo">Erick</label><br>
                </p>
                </label><br></br>
                <label><p>2)Which is the home land of the vikings?</p>
                <p>
                    <input type="radio" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Scandinavia</label><br>
                    <input type="radio" name="opinion7" value="Bom">
                    <label for="Bom">Egipt</label><br>
                    <input type="radio" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Atlantis</label><br>
                    <input type="radio" name="opinion9" value="Mau">
                    <label for="Mau">Lisbon</label><br>
                    <input type="radio" name="opinion10" value="Péssimo">
                    <label for="Péssimo">Normandy</label><br>
                </p>
                </label><br></br>
                <label>3)What is the other name for the viking dagger?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">knife</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Seax</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">Fang</label><br>
                    <input type="checkbox" name="opinion10" value="Péssimo">
                    <label for="Péssimo">Claw</label><br>
                </p>
                </label><br></br>
                <label>4)When did start the Viking Age?
                <p>
                    <input type="number" id="700" max="2021" min="0">
                </p>
                </label><br></br>
                <label>5)Where was normaly raided by vikings?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">ports</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">capitals</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">deserts</label><br>
                </p>
                </label><br></br>
                <label>6)Which is the one of the gods in the norce mythology?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Odin</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Zeus</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">Ra</label><br>
                </p>
                </label><br></br>
                <label>7)What is the name of the second rune in the religion section?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Fehu</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">isaz</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">dagaz</label><br>
                </p>
                </label><br></br>
                <label>8)Which is the god is close related to the crow?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Odin</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Fenrir</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">Loki</label><br>
                </p>
                    <label>9)Which is normally the Viking favorite weapon?
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Axe</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Long sword</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">Pistol</label><br>
                </p>
                </label><br></br>
                    <label><a>10)Read the following poem and decipher the right order:  </a>
                            <p></p>
                            <a>From the long darkness</a>
                            <a>A ship in the great black night</a>
                            <a>Arrives in the blink of the distress</a>
                            <a>With iron and fire the cause is right</a>
                            <a>In it a raven sees and flies</a>
                            <a>From is eye fire and ash</a>
                            <a>But in the land comes a new dash</a>
                            <a>And in a howl that lies</a>
                            <a>The bird will die </a>
                            <a>And the land will change to a new </a>
                <p>
                    <input type="checkbox" name="opinion6" value="Muito bom">
                    <label for="Muito bom">Axe</label><br>
                    <input type="checkbox" name="opinion8" value="Razoavel">
                    <label for="Razoavel">Long sword</label><br>
                    <input type="checkbox" name="opinion9" value="Mau">
                    <label for="Mau">Pistol</label><br>
                </p>
                </label><br></br>
                <input type="hidden" name="project" value="3">
            <input type="submit" value= "Submit">
           </fieldset>
        </form>
    </section>
{% endblock %}
</html>